<% if (theme.style.layout === 'default') { %>
  <%
  if (page.show_title == undefined) {
    page.show_title = true;
  }
  %>
  
  <% if (page.post_list) { %>
    <%- partial('_partial/main/navbar/list_post') %>
  <% } %>
  <!-- <% if (page.mermaid == true) { %>
    <%- partial('mermaid') %>
  <% } %>
  <% if (page.echarts == true) { %>
    <%- partial('echarts') %>
  <% } %> -->
  <% if (page.h1 || page.title || (page.content && page.content.length > 0)) { %>
    <%- partial('_partial/main/navbar/breadcrumb') %>
  <% } %>
  
  <article class="md-text content <%- page.layout %> <%- (page.indent ? ' indent' : '') %> <%- scrollreveal() %>">
  
  <% if (page.show_title || page.h1) { %>
    <% const title = page.h1 || page.title; %>
    <% if (title && title.length > 0) { %>
      <h1 class="article-title">
        <span>
          <%- page.h1 || page.title %>
        </span>
      </h1>
    <% } %>
  <% } %>
  
  <% if (page.content && page.content.length > 0) { %>
    <%- page.content %>
  <% } %>
  
  </article>
  
  <%- partial('_partial/plugins/comments/layout') %>
<% } else if (theme.style.layout === 'volantis') { %>
  <%- partial('_partial/_volantis_layout/page') %>
<% } %>