<%
const content = theme.footer.content;
if (page.show_music == undefined) {
  page.show_music = true;
}
%>

<footer class="page-footer reveal fs12">
  <% if (page.show_music && theme.plugins.aplayer.enable && theme.footer.aplayer) { %>
    <% if (!page.hasLoadAplayer) { %>
      <%- partial('../plugins/aplayer/script') %>
      <% page.hasLoadAplayer = true; %>
    <% } %>
    <div class="aplayer-container">
      <%- partial('../plugins/aplayer/layout', {post: null, where: 'footer'}) %>
    </div>
    <br><br>
  <% } %>
  <hr>
  <% if (theme.footer.sitemap && Object.keys(theme.footer.sitemap).length > 0) { %>
    <div class="sitemap">
      <% for (let group of Object.keys(theme.footer.sitemap)) { %>
        <% let items = theme.footer.sitemap[group];
        if (items == undefined || items.length == 0) {
          continue;
        } %>
        <div class="sitemap-group">
        <span class="fs14">
          <%- group %>
        </span>
        <% items.forEach((item, i) => { %>
          <a href="<%- url_for(md_link(item)) %>">
          <%- __(md_text(item)) %>
          </a>
        <% }); %>
        </div>
      <% } %>
    </div>
  <% } %>
  <div class="text">
  <% if (content) { %>
    <% if ((typeof content == 'string') && content.constructor == String) { %>
      <%- markdown(content) %>
    <% } else if ((typeof content == 'object') && content.constructor == Array) { %>
      <% content.forEach((item, i) => { %>
        <%- markdown(item) %>
      <% }) %>
    <% } %>
  <% } %>
  </div>
</footer>
